@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Darker-cyan: hsl(158, 36%, 20%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    transition: all .2s ease-in-out;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: var(--Cream);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.card {
    margin: 1rem;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: .5rem;
}

#pro-img {
    width: 50%;
}

.img {
    width: 100%;
    background: url('images/image-product-desktop.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
}

.card>.text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
}

.cate {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
}

.title {
    font-size: 32px;
    line-height: 1;
    font-family: 'Fraunces';
    color: var(--Very-dark-blue);
}

.desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--Dark-grayish-blue);
}

.price {
    font-weight: 700;
    font-size: 32px;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: 'Fraunces';
    color: var(--Dark-cyan);
}

.old-price {
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}


.btn-add {
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--Dark-cyan);
    cursor: pointer;
}

.btn-add:hover {
    opacity: .7;
}

#cart {
    font-size: 20px;
    padding-right: .5rem;
    vertical-align: middle;
}

.attribution {
    text-align: center;
    font-weight: 400;
    padding: 1rem 0;
}

.cate,
.title,
.desc,
.price {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 512px) {

    .card>.text-box {
        width: 100%;
        padding: 1.5rem;
    }
}
@media screen and (max-width: 425px) {

    .img {
        width: 100%;
        height: 220px;
        background: url('images/image-product-mobile.jpg');
        background-size: cover;
        background-position: center;
        
    }

    #pro-img {
        width: 100%;
    }

    .card>.text-box {
        width: 100%;
        padding: 1.2rem;
    }

    .card {
        flex-direction: column;
    }

    .cate,
    .title,
    .desc,
    .price {
        margin-bottom: 1rem;
    }
}
